h1 {
	color: rebeccapurple;

}

.header {
		background-color:lavender;
		color:gray;
		padding:60px;
		margin:30px;
}

.left {
		background-color:lightgray;
		margin-top: 10px;
		margin-left: 30px;
		margin-right: 30px;
		padding-top:10px;
		padding-bottom: 40px;
		width:250px;
		height:1000px;
		font-color: black;
		
}


.paragraph {
		font-size: 18px;
		font-family: Helvetica;
		background-color: white;
		margin: 20px;
		padding: 10px;

		
}

